<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Vidéos uploadées</title>
  <link rel="stylesheet" href="/styles.css"> <!-- si tu as un fichier CSS dans /public -->
</head>
<body>
    <%- include('components/header') %>


<h2>Lecture de : <%= filename %></h2>

<video controls width="600">
  <source src="/uploads/<%= filename %>" type="video/mp4">
  Votre navigateur ne supporte pas la lecture de cette vidéo.
</video>

<button style="position: fixed; bottom: 20px; right: 20px;">
  <a href="/videos" style="text-decoration: none; color: inherit;"> Retour à la liste</a>
</button>


</body>